@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root {
 --mainBlue:#03fc94;
 --lightBlue:#03fc94;
 --mainWhite:#f3f3f3;
 --mainDark:#232528;
 --mainYellow:#03fc94;
}
body{
  font-family: 'Montserrat', sans-serif;
  background: rgb(26,73,53);
background: linear-gradient(67deg, rgba(26,73,53,1) 8%, rgba(3,252,148,1) 47%, rgba(39,107,78,1) 100%);
  color:var(--mainDark) !important;
}
.text-title{
  color:black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:0.3rem;
  text-transform: uppercase; 
}
.other-title{
  color:white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:0.3rem;
  text-transform: lowercase; 
  background-color: black;
}
.text-blue{
  color:var(--mainBlue);
}
.text-bright{
  color:var(--lightBlue);
}
.btn-black{
  background:transparent;
  text-transform:capitalize;
  font-size:0.8rem !important;
  color:var(--mainDark);
  border-radius: 0 !important;
  border:0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background:var(--mainDark) !important;
  color:var(--mainWhite) !important;
}
.cart-icon{
  cursor:pointer;
  font-size:1.2rem;
  color: white;
}
body::-webkit-scrollbar {
  width: 12px;           
}
body::-webkit-scrollbar-track {
  background: #232528;             
}
body::-webkit-scrollbar-thumb {
  background-color: #03fc94;    
  border-radius: 20px;      
  border: 3px solid #232528;   
}